.iniciar_sesion_fondo {
    border-radius: 40px;
    background: var(--Turquesa-degrade, linear-gradient(90deg, #00B6D2 0.29%, #005E6C 99.71%));
}

.modal_inicio_sesion_botoniniciar {
    display: flex;
    width: 150px;
    height: 47px;
    padding: 13px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 0px 20px 20px 20px;
    border: 1px solid #FFF;
    background: #FFF;

    color: #000;
    text-align: center;

    /* Boton_Inscribite */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal_inicio_sesion_botoncancelar {
    display: flex;
    height: 47px;
    width: 150px;

    padding: 13px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 0px 20px 20px 20px;
    border: 1px solid #FFF;

    color: #FFF;
    text-align: center;

    /* Boton_Inscribite */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}