.proximas_iconos_p {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 117.7%;
    letter-spacing: -0.45px;
}