.proximas_titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.7%;
    letter-spacing: -1.02px;

    background: var(--Turquesa-degrade, linear-gradient(90deg, #00B6D2 0.29%, #005E6C 99.71%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-left: 60px;
}

.proximas_h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.7%;
    letter-spacing: -0.96px;
    background: var(--Turquesa-degrade, linear-gradient(90deg, #00B6D2 0.29%, #005E6C 99.71%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proximas_p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 117.7%;
    letter-spacing: -0.45px;
}

.proximas_inscripciones_abiertas {
    background-color: #00AE70;
    border-radius: 20px 0px 0px 20px;
    width: 177px;
    height: 46px;

    color: #FFF;

    text-align: center;
    /* pestaña verde_Inscripciones abiertas */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 117.7%;
    letter-spacing: -0.45px;
}

.proximas_contenedor_inscripciones {
    padding-left: 800px;
    margin-bottom: -80px;
}