.confirmacion_modal_fondo {
    border-radius: 40px;
    background: var(--Turquesa-degrade, linear-gradient(90deg, #00B6D2 0.29%, #005E6C 99.71%));
    display: flex;
    width: 466px;
    height: 413px;
    align-items: center;
    justify-content: center;
    gap: 55px;
    text-align: center;
}

.confirmacion_modal_h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.confirmacion_modal_boton_cerrar {
    border-radius: 0px 20px 20px 20px;
    border: 1px solid #FFF;
    background: #FFF;
    display: flex;
    width: 150px;
    height: 47px;
    padding: 13px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: #000;
    text-align: center;

    /* Boton_Inscribite */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}